@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-text-main;
}

.disableScroll::-webkit-scrollbar {
  display: none;
}

.disableScroll {
  scrollbar-width: none;
}

.lineLimit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}